<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>add</title>
</head>
<body>
    <h1><a href='/topic'>Server Side JavaScript</a></h1>
    <ol>
        <%for(var i=0; i<data.length;i++) {%>
            <a href='/topic/<%= data[i].id %>'>
               <li><%= data[i].title %></li>
            </a>
               <!-- <span><%= data[i].description %></span> -->
        <%};%>
    </ol>
    <article>
    <form method="POST">
        <p><input type='text' name="title" value="<% data.title %>" placeholder="title"/></p>
        <p><textarea name="description" rows="6" placeholder="description"><% data.description %></textarea></p>
        <p><input type='text' name="author" value="<% data.author %>" placeholder="author"/></p>
        <input type="submit" name= "저장" />
    </form>
    </article>
    <ul>
        <li><a href="/topic/add">추가</a></li>
    </ul>
</body>
</html>